<app-header></app-header>

<h1 class="heading">Hello world</h1>
<hr />
<hr />
<app-if-else></app-if-else>

<hr />
<hr />
<app-switch></app-switch>
<hr />
<hr />

<app-counter></app-counter>

<hr />
<hr />
<app-btnand-inputs></app-btnand-inputs>

<hr />
<hr />

<app-loops></app-loops>
<hr />
<hr />

<app-nestedloops></app-nestedloops>

<hr />
<hr />
<app-dynamic-style></app-dynamic-style>
<hr />
<hr />

<app-form></app-form>
<hr />
<hr />
<app-toggle></app-toggle>
<hr />
<hr />
<app-register></app-register>
<app-login></app-login>
<app-sign-in></app-sign-in>